<h1>Players</h1>

<div>
  <%= link_to "New player", new_player_path%>
</div>
<br>
<ul>
  <% @players.each do |player| %>
    <li>
      <%= link_to player.nickname, player %>
    </li>
  <% end %>
</ul>

<%= form_with url: players_path, method: :get, local: true do |f| %>
    <%= f.select :status, options_for_select(Player::STATUS), {},
                { class:"form-control" }
                %>
                 <%= f.select :ranking, options_for_select(Player::RANKING), {},
                { class:"form-control" }
                %>
      <%= f.submit "Filtrar", class: "btn-light-gradient", id: 'filterbtn' %>
  <table  class="table-primary">
  <tr>
    <th>Nickname </th>            
    <th>status </th>                     
    <th>Ranking </th>
  </tr>
 <% @players.each do |player| %>
  <tr>
    <td><%= player.nickname%></td>         
    <td><%=player.status %></td><td>     
    <td><%=player.ranking %></td>      
  </tr>
  <% end %>
 </table>
<% end %>
