<h1><%= @player.nickname %></h1>

<div class="card" style="width: 18rem;">
  <img src="<%=@player.avatar%>" alt="player.avatar" class="card-img-top">
  <div class="card-body">
    <h5>ID: <%= @player.id %></h5>
    <p>Status: <%= @player.status %></p>
    <p>Ranking: <%= @player.ranking %></p>
  </div>
</div>

<div>
  <%= link_to "Edit", edit_player_path(@player) %>
  <%= link_to "Back", players_path %>
</div>
